* {
  text-decoration: none;
}
a {
  color: black !important;
}

a:hover{
    color:brown !important;
}
#navbar {
  display: flex;
  justify-content: space-between;

  border: 1px solid black;

  height: 100px;

  padding-left: 4%;
  padding-right: 4%;

  background-color: plum;
}

#navbar #options {
  display: flex;

  justify-content: space-between;
  gap: 50px;

  margin-top: 10px;
  cursor: pointer;
}

#navbar input {
  height: 30px;
  margin-top: 25px;
  width: 30%;
  margin-left: 10%;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  padding: 5px
}

#navbar button {
  height: 35px;
  margin-top: 29px;
  width: 15%;
  border: none;
  border-radius: 20px;
}

#navbar button:hover {
  background-color:yellow;
  cursor: pointer;
}

/* navbar End here */
#place >.innerBox {
    display: flex;
    padding:1%;
    margin:3%;
    border: 1px solid black;
    
}

#place .innerBox{
    background-color: hotpink;
}



#place >.innerBox img{
    width: 250px !important;
    height:200px;
}

#place >.innerBox > div{
    padding:1% !important
}